.container{
    width: 1230px;
    margin: 0 auto;
}


body {
    background-color: aqua;
}

#dataItem{
  margin-left: 500px;
  margin-top: 50px;
  width: 150px;
  height: 20px;
}

#button{
    width: 60px;
    height: 26px;
    border: none;
    background-color: darkblue;
}

#button:hover {
    background-color: brown;
}

.list {
    margin-left: 480px;
}